<!DOCTYPE html>

{% load static %}

<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hungry of</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}"  rel="stylesheet">
    <!-- Normalize CSS -->
    <link href="{% static 'css/normalize.css'%}"  rel="stylesheet">
    <!-- Style -->
    <link href="{% static 'css/base_style.css' %}" rel="stylesheet">

  </head>

  <body>

        <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded" style="background-color: transparent;">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <a  href="{% url 'index' %}"><img class="navbar-brand" src="{% static 'imgs/logo_hungry_of.svg' %}" ></a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Entrar <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Cardápio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faça seu pedido</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
          </div>
        </nav>



    <!-- Conteúdo da página -->
    {% block container %}{% endblock %}
    <!-- Conteúdo da página fim -->

    <!-- Footer -->
    <footer>

        <ul class="nav justify-content-center fixed-bottom contato">

          <li class="nav-item">
            <h6 class="nav-link">(48) 9848-2252</h6>
          </li>

          <li class="nav-item">
            <h6 class="nav-link">(48) 3466-4352</h6>
          </li>

        </ul>

    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

  </body>

</html>
