{% extends "base.html" %}

{% load static %}

{% block container %}

    <!-- Contéudo -->

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/index_style.css'%}">

    <div class="container-fluid">

        <div class="container">
  <div class="row align-items-start justify-content-md-center">
    <div class="col">

    </div>
    <div class="col">
      <img class="logo" src="{% static 'imgs/logo_hungry_of.svg' %}">
    </div>
    <div class="col">

    </div>
  </div>

    
        <img class="img" src="{% static 'imgs/home.jpg' %}">
    
    </div>

{% endblock %}
