{% extends "base.html" %}

{% load static %}

{% block container %}

    <!-- Contéudo -->

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/index_style.css'%}">

        <div class="container-fluid">

            <div class="row align-items-center">

                <div class="vertical-center">

                     <img class="img-fluid pagination-centered rounded mx-auto d-block" src="{% static 'imgs/home.jpg' %}">

                </div>

             </div>

         </div>

{% endblock %}
