{% extends "base.html" %}

{% load static %}

{% block container %}

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}">

    <!-- Contéudo -->

    <section id="cover">

        <div id="cover-caption">

            <div class="container-fluid">

                <h1 class="display-4"><strong>CARDÁPIO</strong></h1>
                    <h4>A nossa paixão pela comida é compartilhada com nossos clientes.<br>
                        Ingredientes frescos, preparados à mão que trazem o seu desejo para a vida.</h4>

             </div>

         </div>

    </section>


    <div class="container-fluid">

        <div class="row">

            {% for category in categories %}

                <div class="col">

                    <div class="list-group">

                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">

                            <div class="d-flex w-100 justify-content-between active">

                                <h5 class="mb-1 active">{{ category }}</h5>

                            </div>

                         </a>

                        {% for product in products %}

                          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">{{ product }}</h5>

                            </div>
                            <p class="mb-1">{{ product.ingredient }}</p>

                          </a>

                        {% endfor %}


                     </div>



                 </div>

            {% endfor %}

         </div>

    </div>

<!--
    <div class="container-fluid">

        <div class="row">

            {% for category in categories %}

                <div class="col-6 col-md-4">

                    <div class="card text-center">

                        <div class="card-header">{{ category }}</div>

                          <div class="card-block">

                            {% for product in products %}

                              <ul class="list-group list-group-flush text-center">

                                <li class="list-group-item text-center">

                                   <h4 class="card-title">{{ product }}</h4>

                                 </li>

                                <li class="list-group-item">

                                    <p class="mb-1">{{ product.ingredient }}</p>

                                 </li>

                               </ul>

                             {% endfor %}

                           </div>

                     </div>

                 </div>

             {% endfor %}

         </div>

     </div>

{% endblock %}
